@font-face {
    font-family: Permian;
    src: url("/static/fonts/PermianSansTypeface.otf") format("opentype");
}

@font-face {
    font-family: Permian;
    font-weight: bold;
    src: url("/static/fonts/PermianSansTypeface-Bold.otf") format("opentype");
}


* {
    box-sizing: border-box;
}

h6 {
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.2;
    color: #3d4465;
}

p {
    margin-bottom: 1rem;
    line-height: 1.8;
}

html,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 100%;
    height: 100%;
    width: 100%;
    font-family: Permian;
    color: #333;
}

html {
    line-height: 1.15;
}

@keyframes animateBg {
    100% {
        background-position:0px -3000px;
      }
}

body {
    background-image: url("/static/images/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    overflow-y: hidden;
    animation: animateBg 200s linear infinite;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    padding: 1.875rem;
    opacity: 0;
    transition: 1000ms;
    transform: translateX(-200%);
}

.container.active {
    opacity: 1;
    transform: translateX(0);
}

.container > .title {
    text-align: center;
    color:#FFF;
}

.card {
    background-color: #fff;
    position: relative;
    border: 0px solid transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 12px 23px 0px rgb(172 57 212 / 4%);
}

.card-body {
    padding-top: 1.875rem;
    padding-left: 1.875rem;
    padding-right: 2.875rem;
    padding-bottom: 1.875rem;
}

.card-body-wrapper {
    display: flex;
    justify-content: space-between;
}

.timeline-cmp {
}

.timeline-cmp .timeline {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 400px;
    width: 100%;
}

.timeline-cmp .timeline::before {
    position: absolute;
    width: 2px;
    left: 35px;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    content: "";
}

.timeline-cmp .timeline::after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.timeline-cmp .timeline .item {
    margin-bottom: 1rem;
    position: relative;
    min-height: 84px;
}

.timeline-cmp .timeline .item .budget {
    border-radius: 50%;
    height: 74px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 74px;
    border-width: 2px;
    border-style: solid;
    background: #fff;
    padding: 6px;
    border-color: #d6f0fb;
}

.timeline-cmp .timeline .item .budget .number {
    content: "";
    width: 58px;
    height: 58px;
    border-radius: 100%;
    display: block;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgb(30 170 231 / 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    color: #fff;
    line-height: 2.4rem;
    transition: 350ms;
}

.timeline-cmp .timeline .item.active .budget .number {
    background-color: #1eaae7;
}

.timeline-cmp .timeline .item .panel {
    border-radius: 1.25rem;
    padding: 7px 20px;
    position: relative;
    display: block;
    margin-left: 84px;
    border-width: 1px;
    border-style: solid;
    background: #d6f0fb;
    border-color: #d6f0fb;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateX(200px) translateY(16px);
    visibility: hidden;
    transition: 500ms;
    margin-right: 60px;
}

.timeline-cmp .timeline .item .panel.active {
    opacity: 1;
    transform: translateX(0) translateY(16px);
    visibility: visible;
}

.timeline-cmp .timeline .item .panel::before {
    content: "";
    width: 10px;
    height: 10px;
    background: inherit;
    border-color: inherit;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    display: block;
    position: absolute;
    left: -5px;
    transform: rotate(45deg);
    top: 15px;
    background: #d6f0fb;
}

.timeline-cmp .timeline .item .panel .title {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-transform: uppercase;
}

.timeline-cmp .timeline .item .panel .title b {
    font-weight: bolder;
}


.timeline-cmp .timeline .item .panel .title span {
    font-size: 1.3rem;
}

.timeline-cmp .timeline .item .panel .description {
    font-size: 14px;
    margin: 0;
    color: #89879f;
}

.timeline-cmp .timeline .item .panel .number {
    margin: 0;
    padding: 0;
    color: #1eaae7;
    font-size: 2.255rem;
    margin-left: 2rem;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.group-info {
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 0;
    width: 300px;
    text-align: center;
    margin-left: auto;
}

.group-info span {
    font-family: "Times New Roman", Times, serif;
    font-size: 6rem;
}

.group-info-list { 
    margin: 0;
    padding: 0;
    list-style: none;
}

.group-info-list li {
    line-height: 1.5rem;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 0.3rem;
    padding: 0.3rem 1rem;
    border-radius: 0.8rem;
    border: 1px solid rgba(0,0,0,0.05);
    font-size: 0.9rem;
}

.group-info-list li:first-child {
    background-color: #03a9f4;
    color: #fff;
}

.cta {
    width: 300px;
    height: 300px;
    margin-top: 2rem;

    background-position: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent
}

.cta .front,
.cta .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    backface-visibility: hidden;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
}

.cta .front {
    background-color: #fff;
    background-image: url("../images/image3.png");
    z-index: 2;
    width: 3rem;
    height: 3rem;
    left: 112px;
    top: 150px;
    animation: linear;
}


.cta.active .front {
    opacity: 0;
}

@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }

.cta .front::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

.cta .back {
    background-color: #333;
    background-image: url("../images/1f8JkNbJY_5BwvMgMiWuKsaOqPYAHz63qAONMVMA6UDVTkdQ0.png");
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(360deg);
    transition: 1s;

    color: rgba(255, 255, 255, 0);
}
.cta.active .back {
    transform: rotateZ(0deg);
    color: rgba(255, 255, 255, 255);
}